block gameContent
  .container3
    .col-lg-3.col-lg-offset-3  
      #player1(class='playerTag on') Player1 (X)
      #player1score(class='playerScore') 0
    .col-lg-3.col-lg-offset-2
      #player2(class='playerTag off') Player2 (O)
      #player2score(class='playerScore') 0
    .col-lg-3.col-lg-offset-5   
      #playTable
    .col-lg-3.col-lg-offset-2  
      #Result(class='result')  
    .col-lg-4.col-lg-offset-8   
      button(type='button', id='restart', class='btn btn-primary') Play again