doctype html
html
  head
    title= title
    link(href='/stylesheets/common/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/feature/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/common/bootstrap.min.js')
    script(src='/javascripts/common/bootbox.min.js')
    script(src='/javascripts/feature/gameplay.js')
    script(src='/javascripts/feature/gameinit.js')
  body
    block body